<div>
<div class="col-md-6">
<h2>USERS</h2>
<div ng-repeat="user in allUsers">
	 <label class="labelly">Name:</label><input type="text" ng-model="user.name" class="inputty"value="{{user.name}}">
	 <label class="labelly">Email:</label><input type="text" ng-model="user.email" class="inputty"value="{{user.email}}">
	 <label class="labelly">isAdmin:</label><input type="text" ng-model="user.isAdmin"class="inputty" value="{{user.isAdmin}}" >
	  <label class="labelly">Reset Password:</label><input type="text" ng-model="user.reset"class="inputty" value="{{user.reset}}" >
	<label class="labelly">Delete:</label><button class="inputty" ng-click="deleteAnyUser(user._id)">Delete</button>
	<label class="labelly">Update:</label><button class="inputty"ng-click="updateAnyUser(user._id,user)">Update</button>
	<br>
</div>
</div>

<div class="col-md-6">
<h2>ORDERS</h2>
<label class="labelly">Search: <input class="inputty"ng-model="searchText"></label>
<div ng-repeat="order in allOrders |filter:{status:searchText}">
	 <label class="labelly">Owner:</label><input type="text" class="inputty" ng-model="order.owner.name" value="{{order.owner}}">
	 <label class="labelly">Promo:</label><input type="text" class="inputty" ng-model="order.owner.promo" value="{{order.promo}}">
	  <label class="labelly">Status:</label><input type="text" class="inputty"ng-model="order.status" value="{{order.status}}">
	<button ng-click="editOrder(order_id,order)">Update this Order</button>
</div>
</div>


</div>


</div>