
<div class="col-sm-6">
<h2>Current Promo Codes</h2>
<div ng-repeat="promo in allPromos">
    <label class="labelly">Name:</label> <input type="text" ng-model="promo.name" class="inputty"/><br>
    <label class="labelly">Discount:</label> <input type="text" ng-model="promo.percentDiscount" class="inputty"/><br>
    <label class="labelly">Update Promo</label><button ng-click="editPromo(promo._id,promo)" class="inputty">Button</button>
	<br>
	<br>
</div>
</div>
<div class="col-sm-6">
<h2>Create a Promo Code</h2>
<div>
  <form novalidate class="simple-form">
   <label class="labelly">Name:</label> <input type="text" class="inputty" ng-model="newPromo.name" /><br>
    <label class="labelly">Discount:</label> <input class="inputty" type="number" ng-model="newPromo.percentDiscount" /><br>
    <input type="submit" ng-click="createProduct(newProduct)"/>
  </form>
</div>
</div>