<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <!-- <nineties-logo style='height:164px;width:164px'></nineties-logo> -->
            <!-- <img id="ninetiesLogo" src="http://i.imgur.com/pubmhwA.png"/> -->
            <fullstack-logo id="fullstackLogo"></fullstack-logo>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
            <li ng-show="isLoggedIn()"><a ui-sref="user({id: user._id})">My Profile</a></li>
            <li ng-show="isAdmin()"><a ui-sref-active="active" ui-sref="admin">Admin</a></li>
        </ul>
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <button ng-show="!user" ui-sref="signup" class="btn login-button">Signup</button>
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav>