<div>
	<h1 style="margin:auto; width:300px"> ORDER FORM </h1>
	<p>{{ currentUser.name }}</p>
	<div ng-repeat="item in currentOrder.storedItems"
		<div>
			<p style="float:left">{{ item }}</p>
			<button ng-click="removeItem(item.product)" class="btn btn-default">X</button>
		</div>
	</div>
	<h4>Total Cost: ${{ totalCost() }}</h4>


	<div class="container">

		<div class="row">
			<div class="col-md-6">
			<h5 style="margin-left:212px;">Shipping Details</h5>
			<form name="OrderForm">
			<table border="0" cellpadding="0" width="350" id="table1">
				<tr>
				<td width="340" align="right">Name: </td>
				<td width="10">&nbsp;</td>
				<td width="200" align="left"><input type="text" name="Name" size="30" tabindex="1"></td>
				</tr>
				<tr>
				<td width="340" align="right">Email: </td>
				<td width="10">&nbsp;</td>
				<td width="200"><input ng-model="order.email" type="text" name="Email" size="30" tabindex="1"></td>
				</tr>
				<tr>
				<tr>
				<td width="340" align="right">Mailing Address: </td>
				<td width="10">&nbsp;</td>
				<td width="200"><input ng-model="order.address" type="text" name="Email" size="30" tabindex="1"></td>
				</tr>
				<tr>
				<td width="340" align="right">&nbsp;</td>
				<td width="10">&nbsp;</td>
				<td width="200">&nbsp;</td>
				</tr>
			</table>
			</form>
			</div>

			<div class="col-md-6">
				<h5 style="margin-left:172px;">Payment Information</h5>
				<table border="0" cellpadding="0" width="350" id="table1">
				<tr>
				<td width="340" align="right">Credit Card #: </td>
				<td width="10">&nbsp;</td>
				<td width="200" align="left"><input type="text" name="Name" size="30" tabindex="1"></td>
				</tr>
				<tr>
				<td width="340" align="right">&nbsp;</td>
				<td width="10">&nbsp;</td>
				<td width="200">&nbsp;</td>
				</tr>
			</table>
			</div>
		</div>

	</div>
	<label>Promo Code</label>
	<form name="PromoForm" ng-submit="checkPromoCoupon()">
		<input name="promoCode" ng-model="promocode" ng-minlength="6"></input>
<!-- 		<div ng-show="PromoForm.$valid && PromoForm.$dirty" class="alert alert-warning">Try to apply it!
			<button type="submit" class="btn btn-default" style="display:block">Apply</button>
		</div> -->

		<div style="display:inline-block" ng-show="PromoForm.$valid && PromoForm.$dirty">
			<button type="submit" class="btn btn-default" style="display:block">Apply</button>
		</div>



	</form>
	<!-- ng-change? -->
	<button ng-click="checkout()" class="btn btn-default" style="display:block">Purchase</button>
</div>