#productDetail {
	padding-bottom: 40px;
  h1 {
    margin-top: 40px;
    text-align: center;
  }
  #productPane {
    display: inline-block;
    box-shadow: 10px 10px 15px #888888;
    height: 400px;
    width: 800px;
    padding: 0;
    #leftSide {
      display: inline-block;
      img {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        vertical-align: baseline;
        height: 398px;
        width: 398px;
      }
    }
    #rightSide {
      padding-left: 20px;
      border-top: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      vertical-align: baseline;
      display: inline-block;
      background: white;
      height: 398px;
      width: 398px;
    }
  }
  #bottom {
    input {
      height: 48px;
      white-space: nowrap;
    }
  }
}