<!-- <div>
	<h1> SHOPPING CART</h1>
	<p>{{ currentUser.name }}</p>
	<div ng-repeat="item in currentCart">
		<h3><a ui-sref="productDetail({productId: item.product})">{{ item.title }} </a></h3>
		<p>Quantity:{{ item.quantity }}</p>
		<p>Price:${{item.price | number: 2}}</p>
		<button ng-click="removeItem(item.product)" class="btn btn-default">Remove From Cart</button>
	</div>
	<p>Total: ${{totalCost() | number: 2}} </p>
	<button ng-disabled="currentCart.length < 1" ui-sref="order" class="btn btn-default">Proceed To Checkout</button>

</div> -->

<h3>Shopping Cart</h3>
<div id="shoppingCart">
	<div ng-repeat="item in currentCart">
		<div class="col-md-10">
				<div class="row">
					<div id="cartImg" class="col-md-3">
						<!-- <p>item{{ item }}</p> -->
						<!-- <p>product{{ product }}</p> -->
						<!-- <p>{{ $index }}</p> -->
						<img src="{{ cartProducts[$index].picture }}">
					</div>
					<div id="midCol" class="col-md-4">
						<h4>{{ item.title }}</h4>

					</div>
					<div id="rightCol" class="col-md-3">
						<p>Qty: {{ item.quantity }}</p><p>Price: ${{item.price | number: 2}}</p>
						<button ng-click="removeItem(item.product, $index)" class="btn btn-default">Remove From Cart</button>
						<button ng-disabled="currentCart.length < 1" ui-sref="order" class="btn btn-default">Proceed To Checkout</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>